/packages/** @kyranet

.github/ @favna
.vscode @favna
.yarn @favna
scripts/ @favna
.npm-deprecaterc.yml @favna
.yarnrc.yml @favna
package.json @favna
README.md @favna
tsconfig.base.json @favna
tsconfig.eslint.json @favna
turbo.json @favna
vitest.config.ts @favna
